@layer base {
  * {
    /* keep webkit prefix because its non-standard */
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }

  html,
  :host {
    tab-size: 4;
    text-size-adjust: none; /* This disables the browser's automatic text size adjustment. The font size will remain fixed even when the user zooms in or out. */
  }

  body {
    text-rendering: optimizeLegibility;
    /* keep webkit prefix because its non-standard */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-user-drag: none;
    -ms-content-zooming: none;
  }

  a:focus {
    outline-width: 0;
  }

  img {
    @apply text-center text-labelLarge text-primary;
  }
}
