@layer base {
  :root {
    --safe-area-inset-top: env(safe-area-inset-top, 0);
    --safe-area-inset-bottom: env(safe-area-inset-bottom, 0);
    --safe-area-inset-left: env(safe-area-inset-left, 0);
    --safe-area-inset-right: env(safe-area-inset-right, 0);
  }

  @supports not (padding-top: env(safe-area-inset-top, 0)) {
    :root {
      --safe-area-inset-top: 0;
      --safe-area-inset-bottom: 0;
      --safe-area-inset-left: 0;
      --safe-area-inset-right: 0;
    }
  }
}
